@using QuickDotNetUI.Html
@{
    ViewData["Title"] = "Index";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="g-title">
            <div class="title_left">
                <h3>@ViewData["Title"]</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="x_panel">
            <div class="x_title">
           
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @Html.Div("Wellcome :)")
            </div>
        </div>
    </div>
</div>